flows.json
[{"id":"97048eae.d3bdb","label":"new package","type":"tab"},{"id":"b1c28c75.fc2ce","type":"inject","z":"97048eae.d3bdb","name":"inject","topic":"","payload":"","payloadType":"date","repeat":1,"crontab":"","once":false,"x":152,"y":370,"wires":[["b0376cae.18a35"]]},{"id":"b0376cae.18a35","type":"dbfunction","z":"97048eae.d3bdb","name":"","func":"return {\t\t\t\t\n  type:\"set-bulb-on\",\n  payload: \"on\",\n}","outputs":1,"inputtypedef":"","outputtypedef":"","noerr":0,"x":320,"y":368,"wires":[["9421dc08.a8e9a"]]},{"id":"9421dc08.a8e9a","type":"bulbsout","z":"97048eae.d3bdb","name":"","subtype":"set-bulb-on","value":"","x":466,"y":365,"wires":[]}]