flows.json
[{"id":"97048eae.d3bdb","label":"new package","type":"tab"},{"id":"b1c28c75.fc2ce","type":"inject","z":"97048eae.d3bdb","name":"inject","topic":"","payload":"","payloadType":"date","repeat":1,"crontab":"","once":false,"x":152,"y":370,"wires":[["b0376cae.18a35"]]},{"id":"b0376cae.18a35","type":"dbfunction","z":"97048eae.d3bdb","name":"","func":"const state = context.get(\"state\") ||  \"on\";\ncontext.set(\"state\", state === \"on\" ? \"off\":\"on\");\nreturn {\t\t\t\t\n  type:\"set-bulb-on\",\n  payload: state,\n}","outputs":1,"inputtypedef":"","outputtypedef":"","noerr":0,"x":320,"y":368,"wires":[["9421dc08.a8e9a","79557e8a.97b6c"]]},{"id":"9421dc08.a8e9a","type":"bulbsout","z":"97048eae.d3bdb","name":"","subtype":"set-bulb-on","value":"","x":451,"y":444,"wires":[]},{"id":"79557e8a.97b6c","type":"debugger","z":"97048eae.d3bdb","name":"","active":true,"console":"false","complete":"false","x":452,"y":267,"wires":[]}]